body  {
    text-align: center;
}

header nav, footer {
    background-color: rgb(40, 151, 25);
    border-radius: 20px;
}
header section {
    color: green;
}
ul {
    display: inline-block;
    
}
article {
    display: inline-block;
    padding: 20px;
}
li {
    display: inline-block;
    padding: 20px;
    
}
p {
    padding: 20px;
    
}